@model Project.Models.ValidModels.CreateChellange

@{
    Layout = "MainLayout";
}

<section>
    <div class="mb-4">
        <div class="d-flex col-12 align-items-center">
            <h4 class="mb-1 me-4">Создать собственное задание</h4>
        </div>
        <div class="col-12 border rounded p-2">
            <h5 class="section-d mb-2">
                Прежде чем создать задание, убедитесь в его корректности, другие
                смогут выполнить его исключительно по вашим тестам
            </h5>
            <p class="mark">
                Оставьте поле с тестом пустым, если данный язык для задания не
                требуется
            </p>
            <form class="col-12"
                  asp-action="create"
                  asp-controller="challenge"
                  method="post">
                <div class="col-12 d-flex p-2">
                    <div class="col-6">
                        <label asp-for="Name" class="tsmall bold-mark">Название</label>
                        <input asp-for="Name"
                               class="form-control form-control-sm"
                               placeholder="Помогите Бобу посчитать кол-во мест на стадионе" />
                        <label asp-for="Description" class="bold-mark mt-3 tsmall">Описание</label>
                        <textarea rows="4"
                                  asp-for="Description"
                                  class="form-left-block form-control form-control-sm">
                    </textarea>
                        <label asp-for="Level" class="bold-mark mt-3 tsmall">Уровень сложности</label>
                        <select asp-for="Level" class="form-select form-select-sm">
                            @if (ViewBag.Levels != null)
                            {@foreach (var item in
ViewBag.Levels)
                                {
                                    <option>@item.Name</option>
                                }}
                        </select>
                        <label asp-for="Tags" class="bold-mark tsmall mt-3">Несколько тегов на эту тему</label>
                        <select asp-for="Tags"
                                multiple
                                class="form-left-block form-select form-select-sm">
                            @if (ViewBag.Tags != null)
                            {@foreach (var item in
ViewBag.Tags)
                                {
                                    <option>@item.Name</option>
                                }}
                        </select>
                    </div>
                    <div class="col-6 ps-2">
                        <label class="bold-mark tsmall" asp-for="PythonTest">Python тест</label>
                        <textarea asp-for="PythonTest"
                                  class="form-test form-control form-control-sm">
                    </textarea>
                        <label asp-for="CsharpTest" class="bold-mark mt-3 tsmall">Csharp тест</label>
                        <textarea asp-for="CsharpTest"
                                  class="form-test form-control form-control-sm">
                    </textarea>
                    </div>
                </div>
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-success">Опубликовать задание</button>
                </div>
            </form>
        </div>
        <div class="col-12 mt-4">
            <h4>Примеры тестов</h4>
            <div class="d-flex col-12 p-2 border rounded">
                <div class="col-6">
                    <p class="bold-mark mb-2 ms-2">Python</p>
                    <div class="col-12 bg-light test-example rounded border">
                        <pre data-enlighter-language="less"
                             class="pb-0 mb-0 position-absolute">
tests = [
    [Summ(1,10), 11],
    [Summ(1,15), 16],
    [Summ(-1,10), 9],
    [Summ(-5,9), 4],
    [Summ(-10,10), 0],
    [Summ(1,0), 1],
    [Summ(1,1), 2],
]
                 </pre>
                    </div>
                </div>
                <div class="col-6 ms-1">
                    <p class="bold-mark mb-2 ms-2">Csharp</p>
                    <div class="col-12 bg-light test-example rounded border">
                        <pre data-enlighter-language="less"
                             class="pb-0 mb-0 position-absolute">
int[][] tests = new int [][] {
    new int[] {Summ(1,15), 16},
    new int[] {Summ(4,10), 14},
    new int[] {Summ(-24,10), -14},
    new int[] {Summ(1,4), 5},
    new int[] {Summ(1,10), 11},
    new int[] {Summ(3,2), 5},
    new int[] {Summ(23,653), 676},
}
                 </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="~/dist/enlighterjs.min.js"></script>
    <script type="text/javascript">
            EnlighterJS.init("pre", "code", {
                language: "python",
                theme: "bootstrap4",
                indent: 2
            });
    </script>
}