@model Project.Models.Challenge

@{
    Layout = "_Layout";
}

<div class="col-12 border rounded bg-white ps-3 pe-3 pb-2">
    <div class="col-12 text-center bg-white pt-4">
        <div class="col-12 justify-content-center">
            <p class="tsmall pt-1">
                Решайте, создавайте, прокачивайтесь, изучайте новое
            </p>
            <form class="col-12 text-start">
                <p class="tsmall mb-0"><em>Если вы думайте, что задание содержит некорректный тест, напишите об этом автору</em></p>
                <div class="d-flex col-12 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="me-2 bi bi-emoji-frown" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                    </svg>
                    <input class="form-control form-control-sm" placeholder="Опишите в чем заключается проблема этого задания" />
                    <button class="ms-1 btn btn-danger">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="bg-light p-2 mt-2 col-12 border bg-lighjt rounded p-2">
        <div class="pt-2 col-12 ">
            @await Component.InvokeAsync("ChallengeDetail") 
            <div class="mt-4 col-12 d-flex">
                <div class="col-6 border rounded bg-white user_solved_block p-1">
                    <div class="bg-light">
                        <p class="mb-0 p-1 tsmall text-secondary">Ваше решение</p>
                    </div>
                    <textarea class="mt-1 form-control form-control-sm" id="userSolutionText" placeholder="//solution"></textarea>
                    <div class="bg-light mt-1 border col-12 d-flex justify-content-between p-1">
                        <a asp-action="index" asp-controller="challenge" class="btn btn-action">Вернуться</a>
                        <a class="btn btn-action">Открыть решения</a>
                    </div>
                </div>
                <div class="col-6 border rounded bg-white user_solved_block p-1">
                    <div class="bg-light">
                        <p class="mb-0 p-1 tsmall text-secondary">Результат</p>
                    </div>
                    <div id="solutionResultBlock" class="mt-1 position-relative rounded border">
                        @if (ViewBag.LangName != null)
                        {
<pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
@Model.Tests.FirstOrDefault(x => x.ProgLanguage.Name == ViewBag.LangName).TestContent
</pre>
                        }
                        else
                        {
<pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
@Model.Tests.First().TestContent
</pre>
                        }
                    </div>
                    <div class="bg-light mt-1 border col-12 d-flex justify-content-between p-1">
                        <button class="btn btn-primary">Тестировать</button>
                        <button class="btn btn-submit">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/dist/enlighterjs.min.js"></script>
    <script type="text/javascript">

        EnlighterJS.init("pre", "code", {
            language: "python",
            theme: "bootstrap4",
            indent: 2
        });
    </script>
}
