@model IEnumerable<Project.Models.Challenge>

@{
    ViewData["Title"] = "Главная";
    Layout = "MainLayout";

}

<div class="col-12 pt-3 pb-3 text-center">
    <h4>Codebreed</h4>
</div>
<section>
    <div class="mb-4">
        <h4 class="mb-1">Внесите свой вклад</h4>
        <div class="p-3 border rounded">
            <h5 class="section-d">
                Вы можете создать собственные задания на следующих языках:
                <b>Python</b>
            </h5>
            <div class="border pe-4 rounded p-2 d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-1">1. Придумайте название</p>
                    <p class="mb-1">
                        2. Дайте вашему заданию несколько тегов для хорошего поиска
                    </p>
                    <p class="mb-1">
                        3. Напишите тест к заданию, чтобы другие могли выполнить его
                    </p>
                </div>
                <a asp-action="create" asp-controller="challenge" class="btn btn-success">Создать</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mb-4">
        <h4 class="mb-1">Задания сообщества</h4>
        <div class="p-3 border rounded">
            <div class="col-12 d-flex justify-content-around">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-2" />
            <!---->
            @await Component.InvokeAsync("ChallengeList")
            <div class="text-center col-12">
                <a asp-action="index" asp-controller="challenge" class="btn btn-light">Больше заданий</a>
            </div>
            <!---->
        </div>
    </div>
</section>
<section>
    <div class="mb-4">
        <h4 class="mb-1">Начните новое обсуждение</h4>
        <div class="p-3 border rounded">
            <h5 class="section-d">
                Поделитесь идеей, мнением, проблемой с другими, чтобы вам
                ответили
            </h5>
            <div class="border pe-4 rounded p-2 d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-1">1. Придумайте заголовок</p>
                    <p class="mb-1">
                        2. Опишите свою проблему или ситуацию
                    </p>
                    <p class="mb-1">
                        3. Несколько тегов по данной теме
                    </p>
                </div>
                <a asp-action="create" asp-controller="discuss" class="btn btn-success">Создать</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mb-4">
        <h4 class="mb-1">Обсуждения сообщества</h4>
        <div class="p-3 border rounded">
            <div class="col-12 d-flex justify-content-around">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-2" />
            <!---->
            @await Component.InvokeAsync("DiscussList") 
            <!---->
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/dist/enlighterjs.min.js"></script>
    <script type="text/javascript">
            EnlighterJS.init("pre", "code", {
                language: "python, csharp",
                theme: "bootstrap4",
                indent: 2
            });
    </script>
}

