@model Project.Models.User

<h5 class="section-d">Лента активности</h5>
<div class="col-12 mb-4">
    <div id="profileActivityBlock"
         class="overflow-hidden d-flex justify-content-end position-relative bg-white pt-2 pb-2 border rounded ms-4">
        <div class="col justify-content-end position-absolute min-content">
            <svg height="20" width="892">
                <text x="25" y="15" width="20" font-size="10">Июль</text>
                <text x="85" y="15" width="20" font-size="10">Авг</text>
                <text x="155" y="15" width="20" font-size="10">Сен</text>
                <text x="225" y="15" width="20" font-size="10">Окт</text>
                <text x="295" y="15" width="20" font-size="10">Нояб</text>
                <text x="365" y="15" width="20" font-size="10">Дек</text>
                <text x="435" y="15" width="20" font-size="10">Янв</text>
                <text x="505" y="15" width="20" font-size="10">Февраль</text>
                <text x="575" y="15" width="20" font-size="10">Март</text>
                <text x="645" y="15" width="20" font-size="10">Апрель</text>
                <text x="715" y="15" width="20" font-size="10">Май</text>
                <text x="775" y="15" width="20" font-size="10">Июнь</text>
            </svg>
            <svg class="grider mt-1 ms-4" height="130" width="892">
                <text x="840" y="20" width="20" font-size="10">Пон</text>
                <text x="840" y="55" width="20" font-size="10">Чтв</text>
                <text x="840" y="90" width="20" font-size="10">Воск</text>
                @{
                    DateTime date = DateTime.Now;
                    date = date.AddYears(-1).AddDays(2);

                    for (int i = 0; i < 52; i++)
                    {
                        for (int q = 0; q < 7; q++)
                        {
                            int y = q * 11 + q * 5;
                            int x = i * 11 + i * 5;

                            string content = "";
                            string color = "#e4e7eb";
                            foreach (var item in Model.Events)
                            {
                                if (date.ToShortDateString() == item.DateCreatedStr)
                                {
                                    content += $" {item.Title} ";

                                }
                            }

                            if (content != "") color = "#4fcf3c";

                            <svg>
                                <rect data-content="@content"
                                      data-datename="@date.ToLongDateString()"
                                      data-date="@date.ToShortDateString()"
                                      stroke="pink" stroke-linecap="round" stroke-width="0.5" rx="2" ry="2" height="11" width="11" fill=@color
                                      y=@y x=@x>
                                </rect>
                            </svg>

                            date = date.AddDays(1);
                        }
                    }
                }
            </svg>
        </div>
    </div>
</div>