@model Project.Models.Discuss

@foreach (var item in Model.Replies.OrderByDescending(x => x.DateCreated))
{
<div class="bg-white border rounded col-12 mb-2 d-flex p-2 justify-content-between align-items-center">
    <div class="col-10 p-2">
        <div class="col-12">
            <h4 class="tbig mb-0">@item.Author.Username</h4>
        </div>
        <p class="col-12 mb-2 tbg-desc">
            @item.Content
        </p>
    </div>
</div>
}