body {
    background-color: #e9e9e9 !important;
    overflow-x: hidden!important;
}

.min-content {
    width: min-content!important;
}

.btn {
    height: 35px !important;
    padding: 5px !important;
    font-size: 14px !important;
}

.btn-primary {
    color: rgb(245, 245, 245) !important;
    font-weight: 600 !important;
    background-color: #1ca1ee !important;
    border-color: #ebebeb !important;
}

.btn-action {
    color: rgb(54, 54, 54) !important;
    font-weight: 600 !important;
    background-color: #fdfdfd !important;
    border-color: #d8d8d8 !important;
}

.btn-submit {
    color: rgb(245, 245, 245) !important;
    font-weight: 600 !important;
    background-color: #2baf53 !important;
    border-color: #b1b1b1 !important;
}

.btn-danger {
    color: rgb(245, 245, 245) !important;
    font-weight: 600 !important;
    background-color: #cc3f3f !important;
    border-color: #b1b1b1 !important;
}

.tbg-desc {
    color: #858585 !important;
}

.tbig {
    font-size: 18px !important;
}

.tverysmall {
    text-transform: uppercase!important;
    font-size: 10px!important;
}

svg text{
    font-size: 11px!important;
}

.tsmall {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px !important;
    letter-spacing: 0.2px;
}

.tlarge {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px !important;
}

.tmedium {
    font-size: 16px !important;
}

.tspecial {
    font-family: "Cinzel", serif !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.challenge_description {
    overflow: hidden !important;
    height: 90px;
}

.challenge_card {
    border: 1px solid rgb(218, 218, 218);
    border-color: #dbdbdb !important;
}

.test_code_wrapper {
    overflow: scroll;
    height: 123px !important;
}

#profileAvatar {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

#profileActivityBlock {
    height: 200px;
}

#activityResultPopup {
    z-index:1000!important;
}

#activityResultPopup p {
    font-size: 12px!important;
    width: max-content!important;
}
